body {
    background: #232b33;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
img {
  height: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 20px;
  background: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s;
}

button:hover {
    background-color: #252d36;
    border-color: #dadada;
    color: #dadada;
}